@import "./Mixins.less";

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.clearfix {
  .clearfix();
}

.marg-1-bottom {
  margin-bottom: 15px;
}

.marg-2-bottom {
  margin-bottom: 30px;
}

.marg-1-top {
  margin-top: 15px;
}

.marg-2-top {
  margin-top: 30px;
}

.h1 {
  font-size: 5em;
}

.h2 {
  font-size: 2.5em;
}

.h3 {
  font-size: 1.75em;
}

.h4 {
  font-size: 1.375em;
}

.h5 {
  font-size: 1.2em;
}

.h6 {
  font-size: 1em;
}