.Gaia-forms-InputGroupLabel {
  padding: 9px 12px;
  background-color: #797a86;
  color: white;
}

.Gaia-forms-InputGroupButton {
  position: relative;
  display: block;
  font-size: 1em;
  padding: 9px 14px;
  letter-spacing: 1px;
  background-color: hsl(554, 50%, 54%);
  border: 0;
  background-image: linear-gradient(to top, hsl(554, 50%, 50%) 0%, hsl(554, 50%, 58%) 100%);
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;
  
  &:focus {
    outline: 0;
  }

  &:active {
    background-image: linear-gradient(to top, hsl(554, 50%, 58%) 0%, hsl(554, 50%, 50%) 100%);
  }

  &:disabled {
    background-color: #969596;
    color: #ffffff;
    opacity: 0.4;
    cursor: not-allowed;
  }
}
