@import "../../helpers/Mixins.less";
@import "../../helpers/Variables.less";

.Gaia-forms-Input-error-msg-mixin() {
  display: none;
  height: 1em;
  margin-top: 6px;
  margin-left: 2px;
  color: @input-color-error;
  font-size: 0.875em;
}

.Gaia-forms-Input {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 1em;
  font-size: 1rem;
  position: relative;
  letter-spacing: 1px;
  cursor: text;

  &.is-valid {
    input {
      border-color: @input-border-valid;

      &:focus {
        border-color: @input-border-valid;
      }
    }
  }

  &.is-error {
    input {
      border-color: @input-border-error;

      &:focus {
        border-color: @input-border-error;
      }
    }

    .msg {
      display: block;
    }
  }

  input {
    width: 100%;
    flex: 0 1 auto;
    outline: 0;
    border: 1px solid @input-border;
    border-radius: 2px;
    padding: @input-padding-v @input-padding-h;
    appearance: none;
    background-color: @input-bg;
    color: @input-color;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
    cursor: inherit;

    &[disabled] {
      cursor: not-allowed;
      background-color: @input-bg-disabled;
      opacity: 0.4;
    }

    &:focus {
      border-color: @input-border;
    }

    .placeholder(@input-placeholder);

    .Gaia-forms-InputGroup & {
      border-radius: 0;
    }
  }

  .msg {
    .Gaia-forms-Input-error-msg-mixin();
  }
}
