@import "../../helpers/Variables.less";

.Gaia-button-mixin(@padding-v, @padding-h, @bg, @color, @border, @disabled) {
  position: relative;
  width: 100%;
  font-size: 1em;
  font-size: 1rem;
  background-color: @bg;
  color: @color;
  border: 1px solid @border;
  padding: @padding-v @padding-h;
  letter-spacing: 1px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    border: 1px solid darken(@border, 5%, relative);
    background-color: darken(@bg, 5%, relative);
  }

  &:active {
    border: 1px solid darken(@border, 10%, relative);
    background-color: darken(@bg, 10%, relative);
  }

  &:disabled {
    border: 1px solid @disabled;
    background-color: @disabled;
    opacity: 0.4;
  }
}

.Gaia-forms-Submit {
  .Gaia-button-mixin(@input-button-padding-v, @input-button-padding-h, @input-button-bg, @input-button-color, @input-button-border, @input-button-disabled);
  
  &.skin-primary {
    .Gaia-button-mixin(@input-button-padding-v, @input-button-padding-h, @chroma-primary, #fff, @chroma-primary, @chroma-primary);
  }

  &.skin-contrast {
    .Gaia-button-mixin(@input-button-padding-v, @input-button-padding-h, @chroma-contrast, #fff, @chroma-contrast, @chroma-contrast);
  }

  &.skin-secondary {
    .Gaia-button-mixin(@input-button-padding-v, @input-button-padding-h, @chroma-secondary, #fff, @chroma-secondary, @chroma-secondary);
  }

  &.skin-tertiary {
    .Gaia-button-mixin(@input-button-padding-v, @input-button-padding-h, @chroma-tertiary, #fff, @chroma-tertiary, @chroma-tertiary);
  }
}
