@import "../../helpers/Mixins.less";
@import "../../helpers/Variables.less";

.Gaia-forms-TextArea {
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid @input-border;
  padding: @input-padding-v @input-padding-h;
  .placeholder(@input-placeholder);

  &:not([resize]) {
    resize: none;
  }
  &[disabled] {
    background-color: @input-bg-disabled;
    opacity: 0.4;
    cursor: not-allowed;
  }
}
